body {
    cursor: none;
  }
  
  .cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999; /* Ensure it's above other content */
  }
  
  .cursor__circle {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .cursor__point {
    position: absolute;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  @media (max-width: 768px) {
    /* Deactivate cursor animation at this breakpoint */
    .cursor {
      display: none;
      cursor: auto;
    }
  }
  